name: sprobot build, test, and maybe push

on:
  push:
    branches-ignore: # Dependabot branches get ran through pull_request
      - 'dependabot/**'
  pull_request:
  schedule:
    - cron: '0 5 * * 1,3,5'

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
      fail-fast: true

    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and don't push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          tags: sprobot-local-lint
          target: lint
          platforms: ${{ matrix.platform }}
          cache-from: type=gha,scope=${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=${{ matrix.platform }}

      - name: run linters against it
        run: docker run --platform ${{ matrix.platform }} sprobot-local-lint
        
  test:
    needs: [lint]
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and don't push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          tags: sprobot-local-test
          target: test
          platforms: ${{ matrix.platform }}
          cache-from: type=gha,scope=${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=${{ matrix.platform }}

      - name: run tests+linters against it
        run: docker run --platform ${{ matrix.platform }} sprobot-local-test


  gotest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
      fail-fast: true
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build gotest image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          tags: sprobot-gotest
          target: gotest
          platforms: ${{ matrix.platform }}
          cache-from: type=gha,scope=go-${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=go-${{ matrix.platform }}

      - name: Run Go vet and tests
        run: docker run --platform ${{ matrix.platform }} sprobot-gotest

  publish-latest:
    needs: [test, lint, gotest]
    if: startsWith(github.ref, 'refs/heads/main')
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Python bot
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: sadbox/sprobot:latest
          target: prod
          platforms: linux/amd64,linux/arm64
          cache-from: |
            type=gha,scope=linux/amd64
            type=gha,scope=linux/arm64
            type=gha,scope=publish-prod
          cache-to: type=gha,mode=max,scope=publish-prod

      - name: Build and push Go bot
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: sadbox/sprobot-go:latest
          target: prodgobot
          platforms: linux/amd64,linux/arm64
          cache-from: |
            type=gha,scope=go-linux/amd64
            type=gha,scope=go-linux/arm64
            type=gha,scope=publish-gobot
          cache-to: type=gha,mode=max,scope=publish-gobot

      - name: Build and push Go web
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: sadbox/sprobot-go-web:latest
          target: prodgoweb
          platforms: linux/amd64,linux/arm64
          cache-from: |
            type=gha,scope=go-linux/amd64
            type=gha,scope=go-linux/arm64
            type=gha,scope=publish-goweb
          cache-to: type=gha,mode=max,scope=publish-goweb
